<h2>Hey bike enthusiasts!</h2>

<p>This blog is for:</p>
<ul>
  <li>Sharing your bike stories.</li>
  <li>Sharing cool routes/trails.</li>
  <li>Dos and don'ts!</li>
  <li>If you like bikes, its for you, ok?</li>
</ul>
